.wrapper {
    margin:  10px;
    width: 155px;


    border: #1ea7fd 1px solid;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}